.egypt-map {
    position: fixed;
    left: 30%; 
    top: 30%;
    z-index: -1;
  }

.usa-map {
    position: fixed;
    left: 15%; 
    top: 5%;
    z-index: -999;
}
  
.territory-svg {
    position: absolute;  
}
  
.territory-circle {
    position: absolute;
}

.selected-territory {
    position: absolute;
    bottom: 5%;
    float: left;    
}

.actions {
    position: absolute;
    bottom: 5%;
    right: 5%;
    float: right;    
}